body {
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 300;
  margin: 0;
  background: #273042;
  color: white;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.d-none {
  display: none;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.my-5 {
  margin: 50px 0;
}
.py-5 {
  padding: 50px 0;
}
.mr-1 {
  margin-right: 10px;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.pt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0;
}

.gb__navbar {
  background-color: #2e3b55 !important;
}
.jb__link {
  color: white;
  text-decoration: none;
  outline: none;
}
.mr-auto {
  margin-right: auto;
}
.app_main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_main-wrapper {
  min-height: calc(100vh - 180px);
}
.notfound__wrapper {
  text-align: center;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #2e3b55;
  color: white;
}
.user__result_inner-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user__result_inner-wrap p {
  color: wheat;
}
.user__item-wrapper {
  min-width: 33%;
}
.user__result_inner-wrap .MuiDivider-root {
  background-color: #111;
}
.text-white {
  color: white;
}
.cursor {
  cursor: pointer;
}
.user__search-wrapper {
  text-align: center;
}
.user__search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 0;
}
.user__search-form p {
  display: block;
  text-align: left;
  width: 40%;
  cursor: pointer;
}
.user__search-form form {
  display: flex;
  align-items: center;
  width: 40%;
}
.home__wrapper {
  min-width: 100%;
}
.user__search-form .MuiInputLabel-animated,
.user__search-form .MuiFormLabel-root.Mui-focussed,
.user__search-form .MuiInputBase-input,
.user__search-form .MuiButton-root {
  color: rgba(255, 255, 255, 0.6) !important;
}
.user__search-form .MuiInput-underline {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.user__search-form .MuiInput-underline:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}
.user__search-form .MuiButton-outlined {
  border: 3px solid rgba(255, 255, 255, 0.6);
}
.user__search-form .MuiFormControl-root {
  width: 100%;
}
.user__search-form .MuiButton-label {
  padding: 5px 30px;
}
.single__user-wrapper {
  width: 80%;
}
.back_to_search {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  top: 75px;
  left: 107px;
}
.back_to_search a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.user__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user__info-left {
  margin-right: 50px;
}
.user__info-left img {
  width: 100%;
}
/* media query */
@media (max-width: 1200px) {
  .user__item-wrapper {
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .user__item-wrapper {
    min-width: 100%;
  }
  .user__search-form form {
    width: 100%;
  }
  .user__info {
    flex-direction: column;
  }
  .back_to_search {
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
