body {
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: 300;
  margin: 0;
  background: #273042;
  color: white;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.d-none {
  display: none;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.my-5 {
  margin: 50px 0;
}
.py-5 {
  padding: 50px 0;
}
.mr-1 {
  margin-right: 10px;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.pt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 10px;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0;
}

.gb__navbar {
  background-color: #2e3b55 !important;
}
.jb__link {
  color: white;
  text-decoration: none;
  outline: none;
}
.mr-auto {
  margin-right: auto;
}
.app_main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_main-wrapper {
  min-height: calc(100vh - 180px);
}
.notfound__wrapper {
  text-align: center;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #2e3b55;
  color: white;
}
.user__result_inner-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user__result_inner-wrap p {
  color: wheat;
}
.user__item-wrapper {
  min-width: 33%;
}
.user__result_inner-wrap .MuiDivider-root {
  background-color: #111;
}
.text-white {
  color: white;
}
.cursor {
  cursor: pointer;
}
/* media query */
@media (max-width: 1200px) {
  .user__item-wrapper {
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .user__item-wrapper {
    min-width: 100%;
  }
}
